.card-container {
    max-height: 10%;
}

.card-container h6 {
    margin: 0.3rem;
}

.player-image {
    max-height: 100px;
    margin-bottom: 0.5rem;
    border-radius: 10%;
}

ul{
    font-size: 0.8rem;
    list-style-type:none;
    align-items: flex-start;
    text-align: left;
    font-weight: bold;
}

.selector {
    background-color: white;
    padding: 0.3rem 0;
    border-radius: 0 0 5px 5px;
}
.selector:hover {
    background-color: #eee;
    cursor: pointer;
}

.right-arrow {
    height: 25px;
}

.sword {
    position: absolute;
}