.card-container {
    max-height: 10%;
}

.player-image {
    max-height: 150px;
    padding-top: 5%;
}

ul{
    list-style-type:none;
    align-items: flex-start;
    text-align: left;
}

.selector {
    background-color: white;
    padding: 0.3rem 0;
}
.selector:hover {
    background-color: #eee;
}

.right-arrow {
    height: 25px;
}