.card-container {
    max-height: 10%;
}

.player-image {
    max-height: 100px;
    margin-top: 0.6rem;
    border-radius: 10%;
}

ul{
    font-size: 0.75rem;
    list-style-type:none;
    align-items: flex-start;
    text-align: left;
}

.selector {
    background-color: white;
    padding: 0.3rem 0;
    border-radius: 0 0 10px 10px;
}
.selector:hover {
    background-color: #eee;
}

.right-arrow {
    height: 25px;
}