@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-poppins;
  @apply antialiased;
}

html {
}

body {
  @apply bg-[#f2f1ea];
  @apply min-h-screen;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
